## Importing Libraries

In [21]:
import pandas as pd
import numpy as np
import copy

## Data Handling

In [22]:
df = pd.read_csv('Dataset.csv')
df = pd.DataFrame(df)
df.head()

,Age,Workclass,Fnlwgt,Education,Edcuation-num,Marital-status,Occupation,Relationship,Race,Sex,Captial-gain,Capital-loss,Hours-per-week,Native Country,Salary
0,39.0,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50.0,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38.0,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53.0,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28.0,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

## Data Cleaning

In [23]:
def data_fix(dataf1):
    dataf = copy.copy(dataf1)
    for i in range(len(dataf.columns)):
        for j in range(len(dataf)):
            if(dataf.iloc[j,i] == ' ?' or dataf.iloc[j,i] == '?'):
                dataf.iloc[j,i] = np.nan

    dataf = dataf.dropna(axis = 0)

    return(dataf)

## Splitting the Data

In [24]:
#Inputs the Data After Feature Engineering Tasks and Splits it into Training and Testing Data, Function Returns two DataFrames
def split(dataf1):
    dataf = copy.copy(dataf1)
    dataf = dataf.sample(frac = 1) #Shuffles the DataFrame Along the Rows
    ratio = 0.67
    rows = dataf.shape[0]
    train_size = int(rows * ratio)
    train = dataf[0:train_size]
    test = dataf[train_size:]
    return train,test